@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    color: #04146c;
}

h1 {
    font-weight: 700;  
    font-size: 65.33px; 
}

h2, h3 {
    font-weight: 700;
    font-size: 40px;
}

p {
    font-weight: 400;
    font-size: 24px;
}

.card {
    border: transparent;
}

.card img {
    width: 50%;
    border-radius: 50%;
}

.card-body h2 {
    color: #0a2ff1;
}

.card-body h3 {
    color: #04146c;
}

button {
    border: 1px solid #0a2ff1;
    background-color: transparent;
    padding: 10px;
    font-size: 24px;
    font-weight: 400;
}

@media (max-width: 768px) {
    h1 {
        font-size: 50px;
    }

    .card-body h2 {
        font-size: 35px;
    }
    
    .card-body h3 {
        font-size: 25px;
    }

    .card-body p{
        font-size: 22px;
    }

    button {
        font-size: 20px;
    }
}

